COMPANY_NAME="Shop Easy StoreFront"
SITE_NAME="Shop Easy"
SHOPIFY_REVALIDATION_SECRET=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN="450948518abe57f296160df3df45a4d1"
SHOPIFY_STORE_DOMAIN="store-front-test-shop.myshopify.com"
NEXT_PUBLIC_RETURN_URL="http://localhost:3000/"
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN="450948518abe57f296160df3df45a4d1"
